/* 

Moderate violet: hsl(263, 55%, 52%)
Very dark grayish blue: hsl(217, 19%, 35%)
Very dark blackish blue:v
White: hsl(0, 0%, 100%)

### Neutral

Light gray: hsl(0, 0%, 81%)
Light grayish blue: hsl(210, 46%, 95%) */
body {
  background: hsl(0, 0%, 81%);
  margin: 20px auto;
  width: 90%;
  display: grid;
  gap: 20px;
}

@media(min-width: 1440px) {
  body {
    grid-template-areas: "da da jo ki"
                         "jea pa pa ki";
    height: 100vh; /* Viewport Height*/
    padding: 10%; /* padding de 10% de Viewport Height */
  }

  .da {
    grid-area: da;
  }

  .jo {
    grid-area: jo;
  }

  .ki {
    grid-area: ki;
  }

  .jea {
    grid-area: jea;
  }

  .pa {
    grid-area: pa;
  }
}


.purple {
  background: hsl(263, 55%, 52%);
}

.gray_blue {
  background: hsl(217, 19%, 35%);
}

.white {
  background: white;
}

.darkish_blue {
  background: hsl(219, 29%, 14%);
}

section {
  padding: 20px;
  border-radius: 12px;
}


